@{
    ViewData["Title"] = "Calorie Calculator";
}
<main id="more-padding">
    <h1>Calculate your cat's daily calorie needs</h1>
    <div id="calculator">
        <label for="weight">Cat's weight in kilograms:</label>
        <input type="number" id="weight" placeholder="Enter your cat's weight...">
        <button id="calculate-button">Calculate</button>
        <div id="result">The result will be displayed here.<br>
            You will see the cat's daily calorie needs and maximum treat amount it can eat.</div>
    </div>
</main>
<script src="~/js/calorie-needs.js"></script>