@{
    ViewData["Title"] = "Cat Gallery";
}
<main id="more-padding">
    <h1>Photos of cats</h1>
    <div id="photo-gallery">
        <div class="photo-with-credit">
            <img loading="lazy" alt="Photo of a cat by Jack Li" src="~/photos/pexels-jack-li-14089915.jpg">
            <p>
                <a href="https://www.pexels.com/photo/a-british-shorthair-on-the-floor-14089915/">Photo by jack li</a>
            </p>
        </div>
        <div class="photo-with-credit">
            <img loading="lazy" alt="Photo of a cat by Reene Bigelow" src="~/photos/pexels-renee-bigelow-51439.jpg">
            <p>
                <a href="https://www.pexels.com/photo/macro-photo-of-brown-tabby-cat-51439/">Photo by Renee Bigelow</a>
            </p>
        </div>
        <div class="photo-with-credit">
            <img loading="lazy" alt="Photo of a cat by Zetong Li" src="~/photos/pexels-zetong-li-18414753.jpg">
            <p>
                <a href="https://www.pexels.com/photo/close-up-of-a-sleeping-kitten-18414753/">Photo by Zetong Li</a>
            </p>
        </div>
        <div class="photo-with-credit">
            <img loading="lazy" alt="Photo of a cat by Wellington Silva" src="~/photos/pexels-wellington-silva-14639088.jpg">
            <p>
                <a href="https://www.pexels.com/photo/a-maine-coon-grooming-itself-14639088/">Photo by Wellington Silva</a>
            </p>
        </div>
        <div class="photo-with-credit">
            <img loading="lazy" alt="Photo of a cat by Anna Morgan" src="~/photos/pexels-anna-morgan-12492543.jpg">
            <p>
                <a href="https://www.pexels.com/photo/close-up-photo-of-a-gray-cat-12492543/">Photo by Anna Morgan</a>
            </p>
        </div>

        <div class="photo-with-credit">
            <img loading="lazy" alt="Photo of a cat by Jefferson Cueva" src="~/photos/pexels-jefferson-cueva-8559941.jpg">
            <p>
                <a href="https://www.pexels.com/photo/a-cute-tabby-cat-sitting-on-the-ground-8559941/">Photo by Jefferson Cueva</a>
            </p>
        </div>
        <div class="photo-with-credit">
            <img loading="lazy" alt="Photo of a cat by Liudmyla Shalimova" src="~/photos/pexels-liudmyla-shalimova-11911144.jpg">
            <p>
                <a href="https://www.pexels.com/photo/photo-of-a-tabby-cat-with-white-whiskers-11911144/">Photo by Liudmyla Shalimova</a>
            </p>
        </div>
        <div class="photo-with-credit">
            <img loading="lazy" alt="Photo of a cat by Сергей Сёмин" src="~/photos/pexels-сергей-сёмин-5270660.jpg">
            <p>
                <a href="https://www.pexels.com/photo/close-up-shot-of-an-orange-domestic-cat-5270660/">Photo by Сергей Сёмин</a>
            </p>
        </div>
        <div class="photo-with-credit">
            <img loading="lazy" alt="Photo of a cat by Engin Akyurt" src="~/photos/pexels-engin-akyurt-11491569.jpg">
            <p>
                <a href="https://www.pexels.com/photo/photo-of-an-orange-domestic-cat-on-the-grass-11491569/">Photo by Engin Akyurt</a>
            </p>
        </div>
    </div>
</main>
