@{
    ViewData["Title"] = "Home Page";
}

<section id="cat-photos">
    <img loading="lazy" alt="" src="photos/pexels-jack-li-14089915.jpg">
    <img loading="lazy" alt="" src="photos/pexels-renee-bigelow-51439.jpg">
    <img loading="lazy" alt="" src="photos/pexels-zetong-li-18414753.jpg">
    <img loading="lazy" alt="" src="photos/pexels-wellington-silva-14639088.jpg">
</section>
<main>
    <section>
        <h1>Cat</h1>
        <p>The cat (Felis catus), commonly referred to as the domestic cat or house cat, is the only domesticated
            species in the family Felidae. Recent advances in archaeology and genetics have shown that the domestication
            of the cat occurred in the Near East around 7500 BC. It is commonly kept as a house pet and farm cat, but
            also ranges freely as a feral cat avoiding human contact. It is valued by humans for companionship and its
            ability to kill vermin. Its retractable claws are adapted to killing small prey like mice and rats. It has a
            strong, flexible body, quick reflexes, sharp teeth, and its night vision and sense of smell are well
            developed. It is a social species, but a solitary hunter and a crepuscular predator. Cat communication
            includes vocalizations like meowing, purring, trilling, hissing, growling, and grunting as well as cat body
            language. It can hear sounds too faint or too high in frequency for human ears, such as those made by small
            mammals. It also secretes and perceives pheromones.</p>
        <p>Female domestic cats can have kittens from spring to late autumn in temperate zones and throughout the year
            in equatorial regions, with litter sizes often ranging from two to five kittens. Domestic cats are bred and
            shown at events as registered pedigreed cats, a hobby known as cat fancy. Animal population control of cats
            may be achieved by spaying and neutering, but their proliferation and the abandonment of pets has resulted
            in large numbers of feral cats worldwide, contributing to the extinction of bird, mammal and reptile
            species.</p>
        <p>As of 2017, the domestic cat was the second most popular pet in the United States, with 95.6 million cats
            owned and around 42 million households owning at least one cat. In the United Kingdom, 26% of adults have a
            cat, with an estimated population of 10.9 million pet cats as of 2020. As of 2021, there were an estimated
            220 million owned and 480 million stray cats in the world. </p>
    </section>
    <section>
        <h1>Etymology and naming</h1>
        <p>The origin of the English word cat, Old English catt, is thought to be the Late Latin word cattus, which was
            first used at the beginning of the 6th century. The Late Latin word may be derived from an unidentified
            African language. The Nubian word kaddîska 'wildcat' and Nobiin kadīs are possible sources or cognates. The
            Nubian word may be a loan from Arabic قَطّ‎ qaṭṭ ~ قِطّ qiṭṭ.</p>
        <p>The forms might also have derived from an ancient Germanic word that was absorbed into Latin and then into
            Greek, Syriac, and Arabic. The word may be derived from Germanic and Northern European languages, and
            ultimately be borrowed from Uralic, cf. Northern Sámi gáđfi, 'female stoat', and Hungarian hölgy, 'lady,
            female stoat'; from Proto-Uralic *käďwä, 'female (of a furred animal)'.</p>
        <p>The English puss, extended as pussy and pussycat, is attested from the 16th century and may have been
            introduced from Dutch poes or from Low German puuskatte, related to Swedish kattepus, or Norwegian pus,
            pusekatt. Similar forms exist in Lithuanian puižė and Irish puisín or puiscín. The etymology of this word is
            unknown, but it may have arisen from a sound used to attract a cat.</p>
        <p>A male cat is called a tom or tomcat (or a gib, if neutered). A female is called a queen or a molly, if
            spayed, especially in a cat-breeding context. A juvenile cat is referred to as a kitten. In Early Modern
            English, the word kitten was interchangeable with the now-obsolete word catling.</p>
        <p>A group of cats can be referred to as a clowder or a glaring.</p>
    </section>
    <section>
        <h1>Domestication</h1>
        <p>It was long thought that the domestication of the cat began in ancient Egypt, where cats were venerated from
            around 3100 BC, However, the earliest known indication for the taming of an African wildcat was excavated
            close by a human Neolithic grave in Shillourokambos, southern Cyprus, dating to about 7500–7200 BC. Since
            there is no evidence of native mammalian fauna on Cyprus, the inhabitants of this Neolithic village most
            likely brought the cat and other wild mammals to the island from the Middle Eastern mainland. Scientists
            therefore assume that African wildcats were attracted to early human settlements in the Fertile Crescent by
            rodents, in particular the house mouse (Mus musculus), and were tamed by Neolithic farmers. This mutual
            relationship between early farmers and tamed cats lasted thousands of years. As agricultural practices
            spread, so did tame and domesticated cats. Wildcats of Egypt contributed to the maternal gene pool of the
            domestic cat at a later time.</p>
        <p>The earliest known evidence for the occurrence of the domestic cat in Greece dates to around 1200 BC. Greek,
            Phoenician, Carthaginian and Etruscan traders introduced domestic cats to southern Europe. During the Roman
            Empire they were introduced to Corsica and Sardinia before the beginning of the 1st millennium. By the 5th
            century BC, they were familiar animals around settlements in Magna Graecia and Etruria. By the end of the
            Western Roman Empire in the 5th century, the Egyptian domestic cat lineage had arrived in a Baltic Sea port
            in northern Germany.</p>
        <p>The leopard cat (Prionailurus bengalensis) was tamed independently in China around 5500 BC. This line of
            partially domesticated cats leaves no trace in the domestic cat populations of today.</p>
        <p>During domestication, cats have undergone only minor changes in anatomy and behavior, and they are still
            capable of surviving in the wild. Several natural behaviors and characteristics of wildcats may have
            pre-adapted them for domestication as pets. These traits include their small size, social nature, obvious
            body language, love of play, and high intelligence. Since they practice rigorous grooming habits and have an
            instinctual drive to bury and hide their urine and feces, they are generally much less messy than other
            domesticated animals. Captive Leopardus cats may also display affectionate behavior toward humans but were
            not domesticated. House cats often mate with feral cats. Hybridisation between domestic and other Felinae
            species is also possible, producing hybrids such as the Kellas cat in Scotland.</p>
        <p>Development of cat breeds started in the mid 19th century. An analysis of the domestic cat genome revealed
            that the ancestral wildcat genome was significantly altered in the process of domestication, as specific
            mutations were selected to develop cat breeds. Most breeds are founded on random-bred domestic cats. Genetic
            diversity of these breeds varies between regions, and is lowest in purebred populations, which show more
            than 20 deleterious genetic disorders.</p>
    </section>
    <section>
            <p>Source: <a href="https://en.wikipedia.org/wiki/Cat" target="_blank">Wikipedia</a>.</p>
    </section>
</main>
