@{
    ViewData["Title"] = "Privacy Policy";
}

<main id="more-padding">
    <h1>@ViewData["Title"]</h1>
    <video autoplay controls muted loop id="vid">
        <source src="~/photos/cat.webm" type="video/webm"/>
    </video>
    <h1 style="height: 14.4vh">:)</h1>
</main>